.input-wrapper {
  display: flex;
  border-radius: 8px;
  padding: 6px 7px 8px 9px;
  // margin-bottom: 10px;
  color: #F97E7E;
  text-shadow: 
    0 0 30px #F97E7E,
    0 0 40px #CC3C3C,
    0 0 70px #CC3C3C;
  cursor: pointer;
} 