:host {
  display: flex;
}

.message-wrapper {
  padding: 0 5.5%;
  margin-bottom: 12px;
  width: 100%;
}

.message-out {
  position: relative;
  float: right;
  color: #F97E7E;
  text-shadow: 
    0 0 30px #F97E7E,
    0 0 40px #CC3C3C,
    0 0 70px #CC3C3C;
}

.message-in {
  // font-size: 50px;
  position: relative;
  float: left;
  color: #C6F4FF;
  text-shadow: 
    0 0 30px #C6F4FF,
    0 0 40px #1B22FF,
    0 0 70px #1B22FF;
}

.message {
  border-radius: 8px;
  padding: 6px 7px 8px 9px;
  max-width: 70%;
}